<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= cocktail.name %></li>
  <% end %>

</ul>


<h1 class="font-black text-center">Game Night Cocktail List</h1>


<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
  <% end %>
</ul>

<a href="/cocktails/1">Chez Gladines</a>
<a href="/cocktails/2">Le Temps des Cerises</a>
<a href="/cocktails/3">La Tour d'Argent</a>
