<div class="sticky bg-white">
  <img
    class="absolute object-cover w-full h-auto opacity-75"
    src="https://images.unsplash.com/photo-1566417713935-c0ed71ddd384?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2032&q=80"
    alt=""
  />
  <div class="sticky flex justify-start">
    <div class="sticky lg:w-1/2 w-5/6 h-72 py-20 lg:px-8 m-5">
      <h1 class="lg:text-4xl text-3xl font-headings font-bold text-white" style="text-shadow: 1px 1px 3px rgba(0,0,0,0.2)">
        Where all the best drinks are
      </h1>
      <p class="text-xl font-headings text-white my-2" style="text-shadow: 1px 1px 3px rgba(0,0,0,0.2)">
      Have a favorite Ingredient?
      </p>
    </div>
  </div>
</div>


<div class="bg-[url('../images/indexbg.jpg)]">
</div>



<div class=" container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0 text-center">Menu</h3>
    <%= link_to "Add a Cocktail", new_cocktail_path %>
  </div>

  <div class="row">
  <% @cocktails.each do |cocktail| %>
      <div class="co-12 col-sm-6 col-md-4">
        <%= link_to cocktail_path(cocktail), class: "text-decoration-none" do %>
        <div class="container py-3">

          <li class="list_box" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1543536448-d209d2d13a1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80')"><%= link_to cocktail.name, cocktail_path(cocktail) %></li>

        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
