<h1 class="font-black text-center">Game Night Cocktail SHOW PAGE</h1>



<h1><%= @cocktail.name %></h2>
<p><%= @cocktail.description %></p>
<p><%= @cocktail.photo %></p>



<%= link_to "Delete #{@cocktail.name}",
            cocktail_path(@cocktail),
            method: :delete,
            data: { confirm: "Are you sure?" } %>


<%# <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/cocktails/2">
  Delete the spoon
</a> %>
